{% extends 'base.html' %}

<!-- The following block "block title" is optional if you want to create a unique title for each html page: -->
{% block title %}About My Church{% endblock %}

{% block content %}
<h2>{{ module_name }}</h2>

<p>God has given us a mission to build a christian community,<br>
A reception centre,<br>
A house of refuge for the homeless,<br>
A house for newcomers,<br>
A house of restoration,<br>
A house of compassion,<br>
A house of healing,<br>
A house of consolation and renewal for a new beginning</p>

{% endblock %}
